<!DOCTYPE HTML>
<html>

<head>
 
</head>

<body>
  <div>
  <h1>Admin page</h1>
  </div>
  <table>
    <tr>
    {% for item in hive_locations %}
     <tr> {{item}} </tr> 
      <button>EDIT</button>
      <button>DELETE</button>
      <br />
      <br />
    {% endfor %}
    <tr>
  </table>
  <div class="col-lg-12" id="list-puntate">
  <ul>

    </ul>                              
</div>
  <script>
    // Function saves beehive's location to database and to local map
    function updatePopup() {
      //Data that we want to send to server and save as a beehive location
      let firstname = document.getElementById("firstname").value;
      let familyname = document.getElementById("familyname").value;
      let email = document.getElementById("email").value;
      var data = {
        "firstname": firstname,
        "familyname": familyname,
        "email": email,
        "latitude": latitude,
        "longitude": longitude
      };
      
      //HTTP request to server
      var request = new XMLHttpRequest();
      request.open('POST', '/save', true);
      request.setRequestHeader('Content-Type', 'application/*+json; ');
      request.send(JSON.stringify(data));
    }
    
    // Functin to delete a beehive in the map
    /* function deletePopup() {
      map.removeLayer(drawnItems)

      var request = new XMLHttpRequest();
      request.open('DELETE', '/delete', true);
      request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
      request.send(data);
      alert('Marker was deleted')
    } */

  </script>
</body>
</html>
