<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <style>
    html,
    body {
      height: 100%;
      padding: 0;
      margin: 0;
    }
    .popup {
      color: blue;
      height: 200px;
      width: 200px;
    }
    #map {
      /* configure the size of the map */
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body>
  <div id="map"></div>
  <script>

    //init global vars
    var latitude = 1;
    var longitude = 1;
    // initialize Leaflet
    var map = L.map('map').setView({ lon: 25.72088, lat: 62.24147 }, 6.5);
    map.doubleClickZoom.disable(); 

    // add the OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    }).addTo(map);

    // show the scale bar on the lower left corner
    L.control.scale().addTo(map);

    // show a marker on the map
    {% for item in hive_locations %}
      L.marker({{item | tojson}})
       .bindPopup(newPopup)
       .addTo(map);
     
    var newPopup = L.popup({});
    //does not show the actual lat and lon of the marker
      var list = '<div>'+ "lat: " + {{item.lat|tojson }}+ " lon: " + {{item.lon|tojson }} + '</div>';

     newPopup.setContent(list)

      
    {% endfor %}
    
    //Array of all the markers that we create
    var allMarkers = [];

    // Function saves beehive's location to database and to local map
    function savePopup() {
      //Data that we want to send to server and save as a beehive location
      let firstname = document.getElementById("firstname").value;
      let familyname = document.getElementById("familyname").value;
      let email = document.getElementById("email").value;
      var data = {
        "firstname": firstname,
        "familyname": familyname,
        "email": email,
        "latitude": latitude,
        "longitude": longitude
      };
      
      //HTTP request to server
      var request = new XMLHttpRequest();
      request.open('POST', '/save', true);
      request.setRequestHeader('Content-Type', 'application/*+json; ');
      request.send(JSON.stringify(data));
    }
    //Create GeoJSON layer for user generated data
    var drawnItems = new L.geoJson();
    //Add GeoJSON layer to map
    map.addLayer(drawnItems);

    // Leaflet draw eventS
    map.on('dblclick', function (e) {
      var marker = L.marker(e.latlng).addTo(map);
      var markerpopup = L.popup({});
      //Set popup lat lng where clicked
      markerpopup.setLatLng(e.latlng);
      //lat lng where clicked to string
      let location = e.latlng;
      let lat = location.lat;
      let lng = location.lng;
      // save coordinates to global variable
      latitude = lat;
      longitude = lng;
      //Set popup content
      markerpopup.setContent('<form class="popup">\
        <fieldset >\
        <label for="firstname"> Your Firstname: \
        </label>\
        <input type="text" id="firstname" ></br>\
        \
        <label> Your Familyname: \
        </label>\
        <input type="text" id="familyname" ></br>\
        \
        <label for "email"> Your email \
        </label>\
        <input type= "email" id="email"></br>\
        <button onclick="savePopup()">Save</button></fieldset>\
        <a href="https://twitter.com/intent/tweet?url=www.beeings.org&text=I found a new beehive! Check out Beeings!" target="_blank" title="Share on Twitter" >\
        <img src="http://3.bp.blogspot.com/-NxouMmz2bOY/T8_ac97cesI/AAAAAAAAGg0/e3vY1_bdnbE/s1600/Twitter+logo+2012.png" class="twt" alt="Twitter" style="width:62px;height:42px;"\
        </a>\
        <a href="mailto:?subject=[Subject]&body=:[body]" target="_blank" title="Email">\
         <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-email-512.png" class="twt" alt="Twitter" style="width:62px;height:62px;"\
        </a>\
                </form>');
      //Bind marker popup
      marker.bindPopup(markerpopup);
      //Add marker to geojson layer
      drawnItems.addLayer(marker);

      allMarkers.push(marker)
    });

    // Functin to delete a beehive in the map
    /* function deletePopup() {
      map.removeLayer(drawnItems)

      var request = new XMLHttpRequest();
      request.open('DELETE', '/delete', true);
      request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
      request.send(data);
      alert('Marker was deleted')
    } */

  </script>
</body>
</html>
