<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <style>
    html,
    body {
      height: 100%;
      padding: 0;
      margin: 0;
    }

    #map {
      /* configure the size of the map */
      width: 100%;
      height: 100%;
    }

    .twt:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }
  </style>
</head>

<body>
  <div id="map"></div>
  <script>
    // initialize Leaflet
    var map = L.map('map').setView({ lon: 25.72088, lat: 62.24147 }, 15.5);

    // add the OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    }).addTo(map);

    // show the scale bar on the lower left corner
    L.control.scale().addTo(map);

    // popup to marker
    var pop = L.popup({});
    pop.setContent('<form method="POST" action="/save">\
    {{ form.csrf_token }}\
    {{ form.firstname.label}} {{ form.firstname(size=20) }}<br/>\
    {{ form.surname.label}} {{ form.surname(size=20) }}<br/>\
    {{form.email.label}} {{form.email}}\
    {{form.file}}\
    <input type="submit" value="Go">\
    </form>');
    // show a marker on the map
    {% for item in hive_locations %}
    L.marker({{ item | tojson}}).bindPopup(pop).addTo(map);
    {% endfor %}

    //Array of all the markers that we create
    var allMarkers = [];

    // Function saves beehive's location to database and to local map
    function savePopup() {

      //Data that we want to send to server and save as a beehive location
      var data = document.getElementById("edit").value;

      //HTTP request to server
      var request = new XMLHttpRequest();
      request.open('POST', '/save', true);
      request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
      request.send(data);
      alert(data + ' was saved to database!')
      saveValue()
    }

    function saveValue() {
      document.getElementById("loc").innerHTML = document.getElementById("edit").value

    }

    //Create GeoJSON layer for user generated data
    var drawnItems = new L.geoJson();
    //Add GeoJSON layer to map
    map.addLayer(drawnItems);

    // Leaflet draw event
    map.on('dblclick', function (e) {
      var marker = L.marker(e.latlng).addTo(map);
      var markerpopup = L.popup({});
      //Set popup lat lng where clicked
      markerpopup.setLatLng(e.latlng);
      //lat lng where clicked to string
      var location = e.latlng
        
      //Set popup content
      markerpopup.setContent('<form method="POST" action="/save">\
    {{ form.csrf_token }}\
    {{ form.firstname.label}} {{ form.firstname(size=20) }}<br/>\
    {{ form.surname.label}} {{ form.surname(size=20) }}<br/>\
    {{form.email.label}} {{form.email}}\<br/>\
    {{form.comment.label}} {{form.comment}}\<br/>\
    {{form.file}}\<br/>\
    <input type="submit" value="Submit" onClick="savePopup()"><br/>\
    \
    <a href="https://twitter.com/intent/tweet?url=https://beeings.org/&text=I found a new beehive! Check out Beeings!" target="_blank" title="Share on Twitter">\
    <img src="https://logos-world.net/wp-content/uploads/2020/04/Twitter-Logo.png"\
    class="twt" alt="Twitter" style="width:72px;height:42px;"></a>\
    \
    <a href="mailto:?subject=[Subject]&body=:[body]" target="_blank" title="Email">\
    <img src="https://freepngimg.com/thumb/logo/62503-logo-computer-email-icons-download-hq-png.png"\
    class="twt "alt="email" width="60" height="60">\
    </a>\
    </form>');

      //Bind marker popup
      marker.bindPopup(markerpopup, {
        maxWidth: 560,
        maxHeight: 560
      });
      //Add marker to geojson layer
      drawnItems.addLayer(marker);

      allMarkers.push(marker)
    });

    // Functin to delete a beehive in the map
    /* function deletePopup() {
      map.removeLayer(drawnItems)

      var request = new XMLHttpRequest();
      request.open('DELETE', '/delete', true);
      request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
      request.send(data);
      alert('Marker was saved to database!')
    } */

  </script>
</body>

</html>